{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid">
	<!-- Breadcrumbs-->
	<!-- <ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'sistema:chart' %}">Dashboard</a>
		</li>
	</ol> -->

	<div class="card mb-3">
		<div class="card-body">
			{% comment %} <form method="POST" action="{% url 'sistema:chart' %}"> {% endcomment %}
				{% csrf_token %}
				<div class="form-group">
			    <label for="exampleSelect1">Geração de gráfico:</label>
			    <select class="form-control" name="select_sala" id="select_sala" onchange="functionSelect()">
						{% if not select_sala %}
								<option value="null" selected disabled> -- Selecione uma sala --</option>
						{% else %}
								<option value="null" disabled> -- Selecione uma sala --</option>
								<option value="{{ sala.slug }}" selected>{{ sala.estabelecimento }} - {{ sala.predio }} - {{ sala.nome }}</option>
						{% endif %}
						{% for object in salas %}
							{% if object != sala %}
								<option value="{{ object.slug }}">{{ object.estabelecimento }} - {{ object.predio }} - {{ object.nome }}</option>
							{% endif %}
						{% endfor %}
			    </select>
			  </div>
				<!-- <button type="submit" name="button" class="btn btn-primary" onclick="return FunctionSelect()" >Gerar</button> -->
			{% comment %} </form> {% endcomment %}
		</div>
	</div>

	<!-- Area Chart Example-->
	<div class="card mb-3 hiddenJS" style="visibility:hidden">
		<div class="card-header">
			<i class="fa fa-area-chart"></i> Consumo elétrico diário (últimos 60 dias)</div>
		<div class="card-body">
			<canvas id="myAreaChart" width="100%" height="20"></canvas>
		</div>
		<div class="card-footer small text-muted">&nbsp;</div>
	</div>
	<div class="row hiddenJS" style="visibility:hidden">
		<div class="col-lg-12">
			<!-- Example Bar Chart Card-->

			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-bar-chart"></i> Histórico de consumo mensal (últimos 6 meses)</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-8 my-auto">
							<canvas id="myBarChart" width="100" height="30"></canvas>
						</div>
						<div class="col-sm-4 text-center my-auto">
							<div class="h4 mb-0 text-primary" id="ConsumptionMonthNow"></div>
							<div class="small text-muted">Valor consumido este mês</div>
							<hr>
							<div class="h4 mb-0 text-warning" id="ConsumptionMonthBefore"></div>
							<div class="small text-muted">Valor consumido último mês</div>
							<hr>
							<div class="h4 mb-0 text-success" id="Consumption2MonthBefore"></div>
							<div class="small text-muted">Valor consumido penúltimo mês</div>
						</div>
					</div>
				</div>
				<div class="card-footer small text-muted">&nbsp;</div>
			</div>
		</div>

		<!-- Example Pie Chart Card-->

		<!-- <div class="col-lg-3">
			<div class="card ">
				<div class="card-header">
					<i class="fa fa-pie-chart"></i> Gráfico Pizza Exemplo</div>
					<div class="card-body">
						<canvas id="myPieChart" width="100%" height="100">&nbsp;</canvas>
					</div>
					<div class="card-footer small text-muted">&nbsp;</div>
				</div>
		</div> -->

	</div>
</div>

<pre id="object"></pre>

{% endblock %}


{% load l10n %}
{% block javascript %}

<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
