{% extends "base.html" %}

{% block title %}
  Lista de Estabelecimentos Cadastrados
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Tabela Estabelecimento</li>
    </ol>
    <!-- Example DataTables Card-->

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Tabela Estabelecimentos</div>
      <div class="card-body">
        <div style="margin-left:15px">
          <a href="{% url 'sistema:estabelecimento_cadastrar' %}" class="btn btn-primary">Cadastrar Novo</a>
        </div><br>
        {% if estabelecimento_list %}
        <div class="table-responsive">
          <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Ação</th>
              </tr>
            </tfoot>
            <tbody>
              {% for estabelecimento in estabelecimento_list %}
                <tr>
                  <td>{{ estabelecimento.nome }}</td>
                  <td>
                    <a href="{% url 'sistema:estabelecimento_editar' estabelecimento.slug %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'sistema:estabelecimento_deletar' estabelecimento.slug %}" class="btn btn-danger">Del</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7" class="text-center bg-warning">No book</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">&nbsp;</div>
    </div>
  {% else %}
    <p class="text-center">Não há Estabelecimentos cadastrados</p>
  {% endif %}


{% endblock %}
