{% extends "base.html" %}

{% block title %}
  Lista de Prédios Cadastrados
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <a href="{% url 'sistema:predio_cadastrar' %}" class="btn btn-primary">Cadastrar Novo</a>
  </div>
  <div class="col-sm-1">
  </div>
</div><br>
  {% if predio_list %}
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <div class="table-responsive">
            <table class="table table-striped text-center table-bordered">
                <thead class="thead-inverse">
                    <tr>
                      <th>Nome</th>
                      <th>Estabelecimento</th>
                      <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                  {% for predio in predio_list %}
                    <tr>
                      <td>{{ predio.nome }}</td>
                      <td>{{ predio.estabelecimento }}</td>
                      <td>
                        <a href="{% url 'sistema:predio_editar' predio.slug %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'sistema:predio_deletar' predio.slug  %}" class="btn btn-danger">Del</a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="7" class="text-center bg-warning">No book</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  {% else %}
    <p class="text-center">Não há Prédios cadastrados</p>
  {% endif %}

{% endblock %}
