{% extends "base.html" %}

{% block title %}
  Lista de Prédios Cadastrados
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Tabela Prédio</li>
    </ol>
    <!-- Example DataTables Card-->

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Tabela Prédios</div>
      <div class="card-body">
        <div style="margin-left:15px">
          <a href="{% url 'sistema:predio_cadastrar' %}" class="btn btn-primary">Cadastrar Novo</a>
        </div><br>
        {% if predio_list %}
        <div class="table-responsive">
          <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-inverse">
                <tr>
                  <th>Nome</th>
                  <th>Estabelecimento</th>
                  <th>Ação</th>
                </tr>
            </thead>
            <tbody>
              {% for predio in predio_list %}
                <tr>
                  <td>{{ predio.nome }}</td>
                  <td>{{ predio.estabelecimento }}</td>
                  <td>
                    <a href="{% url 'sistema:predio_editar' predio.slug %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'sistema:predio_deletar' predio.slug  %}" class="btn btn-danger">Del</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7" class="text-center bg-warning">Sem Prédios</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">&nbsp;</div>
    </div>
  {% else %}
    <p class="text-center">Não há Prédios cadastrados</p>
  {% endif %}

{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $('#collapseComponents').removeClass('collapse');
  $('#collapse_gerenciar').removeAttr("data-toggle");
</script>
{% endblock %}
