{% extends "base.html" %}

{% block title %}
  Lista de Salas Cadastradas
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Tabela Sala</li>
    </ol>
    <!-- Example DataTables Card-->

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Tabela Salas</div>
      <div class="card-body">
        <div style="margin-left:15px">
          <a href="{% url 'sistema:sala_cadastrar' %}" class="btn btn-primary">Cadastrar Nova</a>
        </div><br>
        <div class="table-responsive">
          <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-inverse">
                <tr>
                  <th>Nome</th>
                  <th>Prédio</th>
                  <th>Ação</th>
                </tr>
            </thead>
            <tbody>
              {% for sala in sala_list %}
                <tr>
                  <td>{{ sala.nome }}</td>
                  <td>{{ sala.predio }}</td>
                  <td>
                    <a href="{% url 'sistema:sala_editar' sala.slug %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'sistema:sala_deletar' sala.slug  %}" class="btn btn-danger">Del</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="7" class="text-center">Sem Salas Cadastradas</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">&nbsp;</div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $('#collapseComponents').removeClass('collapse');
  $('#collapse_gerenciar').removeAttr("data-toggle");
</script>
{% endblock %}
